/* ＝＝＝＝＝リセット＝＝＝＝＝ */

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}



body {

    background: #f1e4c6;
}
.container_box {
    position: relative;
}

.main_img {
    width: 100%;
    max-width: 2000px;
    opacity: 0.5;
    margin-bottom: 50px;
}

.img_logo {
    color:#ffffff;
    position: absolute;
    top:15%;
    left:10%;
    font-size: 24px;

}
.box {
    width: 100%;
    margin: 0px auto;

}

.post_box {
    padding: 10px;
    min-width: 315px;
    width: 33%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box a {
    color: #af3535;
    font-weight: bold;
}

.box a:hover {
    color: #d18585;
}



.post_img {
    height: 320px;

    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.post_data {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.post_name {
    font-size: 16px;
}

.date {
    font-size: 12px;
    color:#7a7a7a;
}


footer {
    height: 200px;
    background:#c23e3e;
}


/* =====投稿画面（form.blade.php）===== */

.form_box,.wrap_show_box{
    width: 90%;
    background: #ffffff;
    margin: 50px auto;
    padding:100px;
}

.form_box p ,.show_box p{
    color: #a5a5a5;
}

.form_box .new_post {
    text-align: center;
    font-size: 32px;
    color: #c23e3e;
}

input,textarea,select {
    margin-bottom: 30px;
}

input,textarea {
    width: 100%;
    line-height: 40px;
}



/* ＝＝＝＝詳細ページ＝＝＝＝ */

.show_box .show_name {
    font-size: 28px;
    color: #525252;
}

.show_img {
    width: 80%;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    display: block;
}

.heart_pink {
    color: #df5093;
}

.heart_gray {
    color: gray;
}

.like_heart {
    display: block;
    margin: 0 0 0 auto;
}

.edit {
    display: flex;
    margin-top: 50px;
}

.edit button {
    display: block;
    margin: 0 10px 0 auto;
    color: #525252;
}

.edit button:hover {
    opacity: 0.5;
}



/* ＝＝＝＝edit(編集ページ)＝＝＝＝ */

.edit_img {
    height: 400px;
    min-width: 400px;
    width: 65%;
    object-fit: cover;
    margin-bottom: 50px;
}


/* ＝＝＝＝footer＝＝＝＝ */

footer {
    padding: 100px 50px;
}

footer p {
    color: #ffffff;
}

.TOP{
    text-align: right;
    display: block;
}

.fa-home {
    color: #ffffff;
    margin-right: 10px;
}

.fa-star:nth-child(2){
    color: #163ff3;
}
