/* ＝＝＝＝＝リセット＝＝＝＝＝ */

/* RESET
------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, figure, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, main, small, span, strike, strong, sub, summary, sup, tt, table, tbody, tfoot, thead, time, tr, th, td, u, ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    border: 0;
    outline: 0;
    background: transparent;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #333;
    text-size-adjust: 100%;
    background: #EDF0F4;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* ＝＝＝＝トップページ＝＝＝ */

body {

    background: #333333;
}
.container_box {
    position: relative;
}

.fa-user {
    line-height: 44px;
    color: #ffffff;
}

.main_img_box {
    background-image: url("tophamburger.jpg");
}

.main_logo {
    color: #ffffff;
    font-size: 26px;
}

.main_img {
    width: 100%;
    max-width: 2000px;
    max-height: 500px;
    margin-bottom: 100px;
}

.post_box {
    margin: 10px;
    min-width: 315px;
    width: 30%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}

.post_data {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(0,0,0,0.4);

    position: absolute;
    bottom: 28px;
    right: 0;
}

.post_img {
    height: 320px;

    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.post_name {
    font-size: 16px;
    color: #dadada;
    line-height: 41px;
    margin-right: 10px;
}

.date {
    font-size: 12px;
    color:#a8a7a7;
    line-height: 41px;
}


footer {
    margin-top: 100px;
    height: 200px;
    background:#c23e3e;
}


/* =====投稿画面（form.blade.php）===== */

.form_box,.wrap_show_box{
    width: 90%;
    background: #ffffff;
    margin: 50px auto;
    padding:100px;
}

.form_box p ,.show_box p{
    color: #a5a5a5;
}

.form_box .new_post {
    text-align: center;
    font-size: 32px;
    color: #c23e3e;
}

input,textarea,select {
    margin-bottom: 30px;
}

input,textarea {
    width: 100%;
    line-height: 40px;
}



/* ＝＝＝＝詳細ページ＝＝＝＝ */

.show_box .show_name {
    font-size: 28px;
    color: #525252;
}

.show_img {
    width: 80%;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    display: block;
}

.heart_pink {
    color: #df5093;
}

.heart_gray {
    color: gray;
}

.like_heart {
    display: block;
    margin: 0 0 0 auto;
}

.edit {
    display: flex;
    margin-top: 50px;
}

.edit button {
    display: block;
    margin: 0 10px 0 auto;
    color: #525252;
}

.edit button:hover {
    opacity: 0.5;
}



/* ＝＝＝＝edit(編集ページ)＝＝＝＝ */

.edit_img {
    height: 400px;
    min-width: 400px;
    width: 65%;
    object-fit: cover;
    margin-bottom: 50px;
}


/* ＝＝＝＝footer＝＝＝＝ */

footer {
    padding: 100px 50px;
}

footer p {
    color: #ffffff;
}

.TOP{
    text-align: right;
    display: block;
}

.fa-home {
    color: #ffffff;
    margin-right: 10px;
}

.fa-star:nth-child(2){
    color: #163ff3;
}
